.chip-blue {
    background-color: #B3E5FC !important;  // Azul claro

}
    
.chip-purple {
    background-color: #D1C4E9 !important;  // Púrpura claro
}
    
.chip-green {
    background-color: #C8E6C9 !important;  // Verde claro
}
.chip-yellow {
    background-color: #FFF9C4 !important;  // Amarillo claro
}
.chip-orange {
    background-color: #FFE0B2 !important;  // Naranja claro
}