.favorites {
    width: 100%;
    margin-top: 33px;
    .favorites_title {
        text-align: center;
    } 

    .favorites_actions{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home{
            width: 7%;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
            height: 38px;
            background: #F7F7F8;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            .home_icon{
                display: flex;
                align-items: center;
                background-color: #2d68a2;
                color: white;
                border-radius: 4px;   
            }
        }
    }
    
    .favorites_characters{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        .favorites_list{
            width: 19%;
            margin-bottom: 1rem;
        }   
    }
}

@media (max-width: 992px) {
    .favorites{

        .home_characters{
            .character_list{
                width: 23%;
            }   
        }
    }
}

@media (max-width: 992px) {
    .favorites{

        .favorites_actions{
            .home{
                width: 13%;
            }
        }
    }
}


@media (max-width: 768px) {
    .favorites{

        .favorites_characters{
            .favorites_list{
                width: 32%;
            }   
        }

        .favorites_actions{
            .home{
                width: 19%;
            }
        }
    }
}

@media (max-width: 576px) {
    .favorites{

        .favorites_characters{
            .favorites_list{
                width: 48%;
            }   
        }

        .favorites_actions{
            .home{
                width: 25%;
            }
        }
    }
}