.character_details {
    width: 311px;
    padding: 1rem;

    .close{
        display: flex;
        justify-content: end;
        margin-bottom: 8px;
    }
    .character_image {
        
    }

    .character_name {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .character_info {
        .details {
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    }

.btn-cerrar {

  background-color: #fde2e2;
  color: #d32f2f;
  border-radius: 999px;
  font-weight: 600;
  padding: 6px 18px;
  min-height: 27px;
  max-height: 27px;
  display: flex;
  align-items: center;
  gap: 6px;

}

.btn-cerrar mat-icon {
  color: #d32f2f;
  font-size: 18px;

  margin-left: 1px;
  margin-right: -1px;
}

.btn-cerrar:hover {
  background-color: #f9cfcf;
}
}

.btn-cerrar span {
  order: 1;
}

.btn-cerrar mat-icon {
  order: 2;
}